*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration:none;
}
body{
  background-image:url('images/pic2.jpg');
  background-size: cover;
  background-position: 50% 20%;
  background-repeat:no-repeat;
  height: 100vh;
  background-attachment: fixed;
  display:flex;
  justify-content: center;
  align-items: center;
}
/*header*/
.header{
  background:transparent;
  width:100%;
  height: 50px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  top:0;
  z-index:100;
}

.logo h1{
  font-family: verdana,sans-serif;
  margin-left: 30px;
  cursor: pointer;
  color:rgb(253, 144, 1);
}
.nav{
  display:flex;
  justify-content: space-between;
  gap:30px;
}
.login-btn{
  margin-right:30px;
  border:2px solid white;
  outline: none;
  cursor: pointer;
  padding:10px 20px;
  background:transparent;
  border-radius:10px;
  color:rgb(253, 144, 1);
  font-weight: bold;
  font-size:17px;
  transition:all .5s;
}
button:hover{
  box-shadow:0px 0px 5px white;
  background:rgb(253, 144, 1);
  color:white;
}
.nav a{
  padding:10px 0px;
  color:rgb(253, 144, 1);
  font-weight: bold;
  position:relative;
  font-size:17px;
}
.nav a::after{
  content: '';
  width:100%;
  height: 3px;
  border-radius:10px;
  background:white;
  position: absolute;
  bottom:12px;
  right:0px;
  transform:scaleX(0);
  transform-origin:right;
  transition:transform .5s;
}
.nav a:hover::after{
  transform:scaleX(1);
  transform-origin:left;
}
.menu{
  color:rgb(253, 144, 1);
  font-size: 30px;
  cursor: pointer;
  display: none;
}
/*dropdown*/
.dropdown{
  position:absolute;
  top:60px;
  right:30px;
  display:flex;
  flex-direction:column;
  width:285px;
  height:200px;
  background:rgba(128, 128, 128, 0.105);
  align-items: center;
  justify-content: space-around;
  border-radius:20px;
  padding:10px;
  backdrop-filter: blur(4px);
  transform:scaleX(0);
  transition: transform 1s;
}
.dropdown a{
  color:rgb(253, 144, 1);
  font-family: Arial, Helvetica, sans-serif;
  padding:8px 15px;
  transform:translateX(0);
  transition:transform 1s;
}
.dropdown a:hover{
  background:rgb(253, 144, 1);
  color:white;
  font-weight: bold;
  border-radius:20px;
  transform:translateX(6px);
}
.dropdown .dropdown-btn{
  border:none;
  outline: none;
  width:100%;
  padding:8px 15px;
  border-radius:20px;
  font-size: 17px;
  cursor: pointer;
  margin-top:7px;
  background:rgb(82, 81, 81);
  color:white;
  transform:scale(1);
  transition:transform 1s;
}
.dropdown .dropdown-btn:hover{
  color:white;
  font-weight: bold;
  background:rgb(253, 144, 1);
  transform:scale(0.96);
}
.dropdown.show-dropdown{
  transform:scaleX(1);
}
/*wrapper*/
.wrapper{
  background:white;
  width:360px;
  height: 350px;
  background:rgba(255, 255, 255, 0.144);
  backdrop-filter: blur(5px);
  border-radius:20px;
  display:flex;
  justify-content: center;
  align-items: center;
  transition:all 1s;
  transform:scaleY(0);
}
.wrapper.change{
  height: 400px;
}
.wrapper.active{
  transform:scaleY(1);
}
.close-icon{
  position:absolute;
  top:0px;
  right:0px;
  background:rgb(253, 144, 1);
  padding:7px 11px;
  border-top-right-radius:19px;
  cursor: pointer;
  font-size:18px;
  color:white;
  font-weight: bold;
}

/*login form*/
.login-form{
  padding:30px;
  width:100%;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  transition:transform 2s;
}
.login-form.login-inactive{
  display:none;
}
.login-form h1{
  margin-bottom:50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(253, 144, 1);
}
.login-item1{
  margin-bottom:50px;
  border-bottom:2px solid white;
  position:relative;
}
.login-item2{
  margin-bottom:10px;
  position:relative;
  border-bottom:2px solid white;
}
.login-item1 label,.login-item2 label{
  position:absolute;
  top:0px;
  left:3px;
  transform:translateY(-37px);
  pointer-events: none;
  font-size:15px;
  font-weight:bold;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(253, 144, 1);
  transition: top .5s;
}
.input-field{
  position:absolute;
  top:-20px;
  left:3px;
  width:100%;
  height: 30px;
  font-size:18px;
  padding-right:50px;
  border:none;
  outline:none;
  background:transparent;
  padding-bottom:10px;
  color:rgb(26, 25, 25);
}
input:focus + label{
  top:-13px;
}
.checkbox-fpwd{
  display:flex;
  font-size:13px;
  justify-content: space-between;
  margin-bottom:20px;

}
.checkbox-fpwd .remember-me input{
  accent-color: rgb(253, 144, 1);
}
.forget-pswd a{
  color:rgb(10, 10, 10);
}
.submit-button .submit{
  border:none;
  outline:none;
  width:100%;
  padding:10px 10px;
  font-size:18px;
  border-radius:20px;
  background:rgb(14, 14, 14);
  color:white;
  font-weight:bold;
  cursor: pointer;
  margin-bottom:20px;
}
.submit-button .submit:hover{
  background:rgb(253, 144, 1);
}
.paragraph p{
  font-size:13px;
}
.paragraph p a{
  color:rgb(253, 144, 1);
  cursor: pointer;
}
/*register form*/
.register-form{
  padding:30px;
  width:100%;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  transform:translateX(200px);
  display:none;
  transition:transform 4s;
}
.register-form.register-active{
  transform:translateX(0);
  display:block;
}

.register-form h1{
  margin-bottom:50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(253, 144, 1);
}
.register-item1,.register-item2,.register-item3{
  margin-bottom:50px;
  border-bottom:2px solid white;
  position:relative;
}
.register-item3{
  margin-bottom:10px;
}
.register-item1 label,.register-item2 label,.register-item3 label{
  position:absolute;
  top:0px;
  left:3px;
  transform:translateY(-37px);
  pointer-events: none;
  font-size:15px;
  font-weight:bold;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(253, 144, 1);
  transition: top .5s;
}
.checkbox-tc{
  display:flex;
  font-size:13px;
  justify-content: space-between;
  margin-bottom:20px;

}
.checkbox-tc .terms-condition input{
  accent-color: rgb(253, 144, 1);
}
/*icon*/
.icon{
  position:absolute;
  right:18px;
  top:-27px;
  color:rgb(253, 144, 1);
}


@media screen and (max-width:900px){
  .menu{
    display: block;
    margin-right:30px;
  }
  .header{
    justify-content: space-between;
  }
  .nav{
    display:none;
  }
  .dropdown{
    box-shadow: 0px 0px 10px rgb(253, 144, 1);
    transform:scale(0);
    
  }
  .dropdown.show-dropdown{
    transform:scale(1);
  }
}

@media (max-width:576px){
 .dropdown{
  width:100%;
  left:0;
  right:0;
  box-shadow:0px 0px 10px rgb(253, 144, 1);
  transform:scaleX(0);
  height: 50%;
 }
 .dropdown.show-dropdown{
  transform:scaleX(1);
 }
}